//- link(rel="stylesheet" href="/public/css/booksContainer.css")
form(method="post" action="/bookshelves/create" onclick="event.stopPropagation()")
    //- label(for="shelfName") Shelf Name
    input.createShelf(type="text" name="shelfName" placeholder="Shelf Name")
    button(type="submit") Add to Shelf
    input(type="hidden" name=`userBookId` value=book.id)
    input(type="hidden" name=`userId` value=userId)
