form(method="post" action="/bookshelves/create")
    label(for="shelfName") Shelf Name
    input(type="text" name="shelfName" value=shelfName)
    button(type="submit") Create Shelf
    input(type="hidden" name="book" value=book)
