link(rel="stylesheet" href="/public/css/homePage.css")
div.homepageLogin
    div.logo-container
        img.wouldReadsHome.pure-img-u-1-3(src="/public/images/WouldReadsIMG.jpg")
    //- div.flex-spacer
    div.login-container
        include log-in-form
    div.signup-container
        include sign-up-form
div.footer-links
    div Created by &nbsp
    a(href="https://andreagjackson.com" target="_blank") Andrea Jackson, &nbsp
    a(href="https://danielford.dev/" target="_blank") Daniel Ford, &nbsp
    a(href="https://www.linkedin.com/in/darius-freeman-a7b819b4/" target="_blank") Darius Freeman, &nbsp
    div and &nbsp
    a(href="https://www.linkedin.com/in/andrew-travers-8273761bb/" target="_blank") Andrew Travers
