link(rel="stylesheet" href="/public/css/homePage.css")
div.pure-g.homepageLogin
    h2.pure-u-1 wouldReads (In a time before Netflix)
    div.logInForm.pure-u-1-2
        include log-in-form
    div.pure-u-1-2
        include sign-up-form
