link(rel="stylesheet" href="/public/css/homePage.css")
div.homepageLogin
    div.logo-container
        h2 wouldReads
        h3 (In a time before Netflix)
    div.flex-spacer
    div.login-container
        include log-in-form
    div.signup-container
        include sign-up-form
