<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css")
    link(rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous")
    link(rel="stylesheet" href="/public/css/bookpage.css")
    link(rel="stylesheet" href="/public/css/nav-bar.css")
    link(rel="icon" href="/public/favicon.ico")
    meta(property='og:title' content='WouldReads')
    meta(property='og:image' content='https://i.gyazo.com/3b7585ba65a6126fa1113bc6b717bfc2.png')
    meta(property='og:description' content="WouldReads is a clone of GoodReads.com with a Netflix style. The JavaScript application uses Pug for the frontend and Express for the backend.")
    meta(property='og:url' content='https://wouldreadz.herokuapp.com/')
    meta(name="author" content="Andrea Jackson")
    title WouldReads
  body(background="/public/images/wp2151531.jpg")
      include forms-bar-homepage
  footer
