<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    block head
  body
    h2 netReads / ?reads / something
    H3 Log In
    include log-in-form
    H3 Sign Up
    include sign-up-form
    block content
  footer
