include utils.pug

form.pure-form(method="post" action="/login")
  fieldset
    h3 Log In
    div
      div
        input(type="hidden" name='_csrf' value=token)
      div
        input(type="text" name='userName' placeholder='Username' id="aligned-name")
      div
        input(type="password" name='password' placeholder='Password')
      div
        button.pure-button.pure-button-primary(type="submit") Log In

//- include utils.pug
//-   +validationErrorSummary(errors)
