div.pure-menu.pure-menu-horizontal
    div
        img.wouldReads.pure-img-u-1-3(src="/public/images/WouldReadsIMG.jpg")
    div.pure-menu-el
        ul.pure-menu-list
            li.pure-menu-item
                a.pure-menu-link.option(href="http://localhost:8080/books") Explore Books
                //- a.pure-menu-link.option(href="http://wouldreadz.herokuapp.com/books") Explore Books
            li.pure-menu-item
                a.pure-menu-link.option(href=`http://localhost:8080/users/${userId}/bookshelves`) myBookshelves
                //- a.pure-menu-link.option(href=`http://wouldreadz.herokuapp.com/users/${userId}/bookshelves`) myBookshelves
            li.pure-menu-item
                a.pure-menu-link.option(href="http://localhost:8080/logout") Log Out
                //- a.pure-menu-link.option(href="http://wouldreadz.herokuapp.com/logout") Log Out
