div.pure-menu.pure-menu-horizontal
    ul.pure-menu-list
        li.pure-menu-item
            a.pure-menu-link.option(href="http://localhost:8080/books") Explore Books
        li.pure-menu-item
            a.pure-menu-link.option(href=`http://localhost:8080/users/${userId}/bookshelves`) myBookshelves
        li.pure-menu-item
            a.pure-menu-link.option(href="http://localhost:8080/logout") Log Out
