extends layout
block head
  h1 this working
block content
  //- form(action="/user/register" method="post")
  //-   input(type="hidden" name="_csrf" value=token)
  //-   h1 USER REGISTRATION
  //-   div
  //-     label First Name
  //-     br
  //-     input(type="text" name="firstName" placeholder="First Name")
  //-   div
  //-     label Last Name
  //-     br
  //-     input(type="text" name="lastName" placeholder="Last Name")
  //-   div
  //-     label Email Address
  //-     br
  //-     input(type="email" name="email" placeholder="Email Address")
  //-   div
  //-     label Password
  //-     br
  //-     input(type="text" name='password' placeholder="Password")
  //-   div
  //-     label Password Confirmation
  //-     input(type="text" name="confirmPassword" placeholder="Confirm Password")
  //-     hr
  //-   div
  //-     button(type="submit") Submit at your PERIL!!!
