body {
    background-color: rgb(20,20,20)
}
.pure-g {
 font-family: helvetica, sans-serif;
 color: black;
}

.bookdisplay {
    width: 700px;
    margin: auto;
    overflow: hidden;
}

.bookInfo {
    width: 350px;
    height: 500px;
    overflow-y: scroll;
    color: white;
}

.bookCover {
    padding-right: 10px;
}

.bookTitle {
    color: rgb(229,9,20);
}
.reviewContainer {
    border-style: solid;
    border-color: white;
    margin-top: 5px;
    padding: 10px;
    color: white;
}

.review {
    padding-top: 5px;
}


.spacer {
    padding-left: 3px
}

.top {
    padding-top: 5px;
}

::-webkit-scrollbar {
    width: 3px;
    color: rgb(22, 22, 22);
}
::-webkit-scrollbar:horizontal {
    height: 3px;
    color: rgb(22, 22, 22);
}


::-webkit-scrollbar-track {
    width: 3px;
    color: rgb(22, 22, 22);
   /* background-color: white; */
}
::-webkit-scrollbar-track:horizontal {
    height: 3px;
    color: rgb(22, 22, 22);
   /* background-color: white; */
}


::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 3px;
    background-color: rgb(229, 9, 20);
}
::-webkit-scrollbar-thumb:horizontal {
    height: 3px;
    border-radius: 3px;
    background-color: rgb(229, 9, 20);
}
