.booksContainer {
    /* width: 1100px; */
    height: 900px;
    /* margin: auto; */
    padding: 10px;
    overflow: visible;
    width: auto;
    margin: 0 100px 0 100px;
    display: flex;
    flex-flow: row wrap;
}

.books-container-cover {
    padding: 10px;
}

::-webkit-scrollbar {
    width: 3px;
    color: rgb(22, 22, 22);
}
::-webkit-scrollbar:horizontal {
    height: 3px;
    color: rgb(22, 22, 22);
}


::-webkit-scrollbar-track {
    width: 3px;
    color: rgb(22, 22, 22);
   /* background-color: white; */
}
::-webkit-scrollbar-track:horizontal {
    height: 3px;
    color: rgb(22, 22, 22);
   /* background-color: white; */
}


::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 3px;
    background-color: rgb(229, 9, 20);
}
::-webkit-scrollbar-thumb:horizontal {
    height: 3px;
    border-radius: 3px;
    background-color: rgb(229, 9, 20);
}
