body {
    background-color: rgb(20,20,20);
}

h2 {
    color: rgb(229,9,20);
}

h3 {
    color: rgb(229,9,20);
}

.homepageLogin {
    background-color: black;
}

.test { margin:  5px;}

.nav-bar-container{
    padding:10px;
}

img.wouldReads{
    position: relative;
    width: 400px;
    height: auto;
    left: 30px;
    top: 10px
}
