body {
    background-color: rgb(20,20,20);
}

h2 {
    color: rgb(229,9,20);
}

h3 {
    color: rgb(229,9,20);
}

.homepageLogin {
    background-color: black;
    width: auto;
    margin: 0;
    display: flex;
    /* justify-content: space-around; */
}

.homepageLogin div input {
    margin: 0 5px 10px 0;
    font-size: 12px;
}

.signup-form-container {
    display: flex;
}

/* .signup-form-ele {

} */

.pure-button {
    background-color: black;
    border: 1px solid white;
}

.login-container, .signup-container {
    padding-left: 300px;
    margin: 15px 20px 15px 0;
}

.signup-container {
    border-left: 2px solid rgb(20,20,20);
    display: flex;
    justify-content: right;
    padding-left: 30px;
}

.login-container{
    display: flex;
    justify-content: right;
}

.flex-spacer {
    flex-grow: 1;
}

img.wouldReadsHome{
    position: relative;
    width: 440px;
    height: auto;
    left: 150px;
    top: 40px;
}

div.footer-links{
    background-color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}
